<!DOCTYPE>
<html>
    <head>
        <title>Making Social Comments Realtime & Fun with Pusher using Javascript like the Flash</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200">
        <link rel="stylesheet" href="./style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/assets/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="./assets/pusher-logo.png" />
            </div>
            <div class="menu">

            </div>
        </header>
        <section>
            <img class="flash-logo" src="./assets/flash-logo.jpg" />
            <h2>Flash Comments - Super Fast</h2>
            <div class="post">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mM8s0k4H92U" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>
        <section>

           <div class="flash-comments">
                <div class="header">
                    <div><img src="./assets/comments.png"></div>
                    <div class="text">Comments</div>
                </div>
                <form class="pure-form" id="comment-form">
                    <div class="comment-form">
                        <div class="left-side">
                            <div class="row">
                                <input type="text" required placeholder="enter your name" id="new_comment_name">
                                <input placeholder="enter valid email" required type="email" id="new_comment_email">
                            </div>
                            <div class="row">
                                <textarea placeholder="enter comment text" required id="new_comment_text" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="right-side">
                            <button
                                type="submit"
                                class="button-secondary pure-button">Send Comment</button>
                        </div>
                    </div>
                </form>
                 <div class="comments-list" id="comments-list">
                        <script id="comment-template" type="text/x-template">
                            <div class="user-icon">
                                <img src="./assets/user.png" />
                            </div>
                            <div class="comment-info">
                                <div class="row">
                                    <div class="name">{{name}}</div>
                                    <div class="email">{{email}}</div>
                                </div>
                                <div class="row">
                                    <div class="text">{{comment}}</div>
                                </div>
                            </div>
                        </script>
                </div>
            </div>
        </section>

        <script type="text/javascript" src="https://js.pusher.com/3.2/pusher.min.js"></script>
        <script type="text/javascript" src="./app.js"></script>
    </body>
</html>
