<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Belajar Vue JS!</title>
</head>
<body>
  <div id="app">
    {{message}}
  </div>

  <div id="app2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds to see my dynamically bound title!
    </span>
  </div>

  <div id="app3">
    <span v-if="seen">Now you see me</span>
  </div>

  <div id="app4">
    <ol>
      <li v-for="todo in todos">
        {{todo.text}}
      </li>
    </ol>
  </div>

  <div id="app5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <div id="app6">
    <p>{{message}}</p>
    <input v-model="message">
    <input v-bind:value="message" v-on:input="message = $event.target.value">
    <todo-item></todo-item>
  </div>

  <div id="app-7">
  <ol>
    <!--
      Now we provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key",
      which will be explained later.
    -->
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    ></todo-item>
  </ol>
</div>

</body>

<script>
Vue.component('todo-item', {
  // The todo-item component now accepts a
  // "prop", which is like a custom attribute.
  // This prop is called todo.
  props: ['todo'],
  template: '<li>{{ todo.text }}</li>'
});

var app = new Vue({
  el: "#app",
  data: {
    message: "Hello Vue!",
  }
});

var app2 = new Vue({
  el: "#app2",
  data:{
    message: "You loaded this page on " + new Date().toLocaleString(),
  }
});

var app3 = new Vue({
  el: "#app3",
  data: {
    seen:true,
  }
});

var app4 = new Vue({
  el: "#app4",
  data:{
    todos:[
      {text: "Learn JavaScript!"},
      {text: "Learn Vue!"},
      {text: "Build something awesome!"},
    ]
  }
});

var app5 = new Vue({
  el: "#app5",
  data:{
    message: "Hello, VueJS!",
  },
  methods:{
    reverseMessage:function(){
      this.message = this.message.split('').reverse().join('');
    }
  }
});

var app6 = new Vue({
  el: "#app6",
  data:{
    message:'Hello Vue!',
  }
});

var app7 = new Vue({
  el: '#app-7',
  data: {
    groceryList: [
      { id: 0, text: 'Vegetables' },
      { id: 1, text: 'Cheese' },
      { id: 2, text: 'Whatever else humans are supposed to eat' }
    ]
  }
});


</script>
</html>
